/* General body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background: #f4f4f4;
}

/* Header styling */
header {
    background: #0078D7;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Profile section */
.profile {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.linkedin-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #0078D7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
}

.linkedin-link:hover {
    background: #005bb5;
}

.back-button {
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    padding: 10px 20px;
    background: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
}

.back-button:hover {
    background: #555;
}

#google_translate_element {
    position: fixed;    /* Stała pozycja */
    top: 10px;          /* Odstęp od góry */
    right: 10px;        /* Odstęp od prawej */
    z-index: 1000;      /* Wysoki priorytet wyświetlania */
    background: rgba(255, 255, 255, 0.8); /* Delikatne tło */
    padding: 5px 10px;  /* Dodatkowe przestrzenie wokół przycisku */
    border-radius: 5px; /* Zaokrąglone rogi */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Cień wokół przycisku */
    font-size: 12px;    /* Mniejsza czcionka */
}

#google_translate_element select {
    background-color: #fff; /* Kolor tła rozwijanego menu */
    color: #333;            /* Kolor tekstu */
    border: 1px solid #ccc; /* Obramowanie */
    padding: 3px;           /* Mniejsze przestrzenie */
    border-radius: 5px;     /* Zaokrąglone rogi */
    font-size: 12px;        /* Mniejsza czcionka */
}